.item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.item.left,
.item.top {
  transform: rotate(180deg);
}

@media (hover: none) {
  .item.left,
  .item.top {
    transform: rotate(180deg);
  }
}
