.stack {
  align-items: flex-end;
  border-radius: 20px;
  box-sizing: content-box;
  display: flex;
  gap: 0.5rem;
  margin: 0;
  max-width: fit-content;
  overflow-x: scroll;
  padding: 0.5rem;
  position: fixed;
  width: 80%;
}

.stack.left,
.stack.right {
  height: auto;
  top: 50%;
  width: 48px;
}
.stack.left {
  flex-direction: column-reverse;
  left: 1rem;
  transform: translateY(-50%) rotate(180deg);
}
.stack.right {
  flex-direction: column;
  right: 1rem;
  transform: translateY(-50%);
}

.stack.bottom {
  bottom: 1rem;
  flex-direction: row;
  left: 50%;
  transform: translateX(-50%);
}
.stack.top {
  flex-direction: row-reverse;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%) rotate(180deg);
}

@media screen and (min-width: 768px) {
  .stack {
    overflow: unset;
    width: auto;
  }
}

.stack::-webkit-scrollbar {
  display: none;
}

@media (hover: none) {
  .stack {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
